<header ng-controller="TopbarCtrl" ng-include src="'common/partials/topbar/topbar.view.html'" class="header"></header>
<div ng-class="{'relative active':toggleSidebar}" class="wrapper row-offcanvas row-offcanvas-left">
    <aside ng-class="{'collapse-left':toggleSidebar}" ng-controller="SidebarCtrl" ng-include src="'common/partials/sidebar/sidebar.view.html'" class="left-side sidebar-offcanvas">
    </aside>
    <aside class="right-side" ng-class="{'stretch':toggleSidebar}">
        <section class="content-header">
            <h1>
                <a class="btn btn-default" href="#/suggestPick/{{nameChampSelected}}" data-toggle="tooltip" title="Return" tooltip="Select other counter pick" tooltip-placement="bottom">< Return
                </a>
                Duel Advice
                <small>{{nameYourChamp}} vs {{nameChampSelected}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#/lanePick">
                        Lane Pick
                    </a>
                </li>  
                <li>
                    <a href="#/ennemyPick">
                        Ennemy Pick
                    </a>
                </li>                
                <li>
                    <a href="#/suggestPick/{{nameChampSelected}}">
                        Suggest Pick
                    </a>
                </li>                
                <li class="active">
                    Duel Advice
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                	<div class="box">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-th"></i> How to play with {{nameYourChamp}} against {{nameChampSelected}}</h3>
                        </div>
                        <div class="box-body">
                        	<div class="row">
                                <div class="col-xs-5">
                                    <div class="col-xs-12"
            							<a class="thumbnail">
        									<img ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{nameChampSelected}}.png" alt="">
        									<p>{{nameChampSelected}}</p>
        								</a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                            <p>VS</p>
                                </div>                                
                                <div class="col-xs-5">
                                    <div class="col-xs-12">
                                        <a class="thumbnail">
                                            <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/champion/{{nameYourChamp}}.png" alt="">
                                            <p>{{nameYourChamp}}</p>
                                        </a>
                                    </div>
                                </div>                                
            				</div>


                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="thumbnail">
                                        <p>TIPS : {{getMatchupDoc.tips}}</p>
                                        <p>DIFFICULTY :{{getMatchupDoc.difficulty}}</p>
                                        <p>Pro Advice :{{getMatchupDoc.proAdvice}}</p>
                                        <p>by {{getMatchupDoc.author}}</p>
                                        <p>SKILLORDER :{{getMatchupDoc.skillOrder}}</p>
                                        <p>BUILD: {{getMatchupDoc.build}}</p>
                                        <p>RUNES {{getMatchupDoc.runes}}</p>
                                        <p>MASTERY {{getMatchupDoc.mastery}}</p>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
