<header ng-controller="TopbarCtrl" ng-include src="'common/partials/topbar/topbar.view.html'" class="header"></header>
<div ng-class="{'relative active':toggleSidebar}" class="wrapper row-offcanvas row-offcanvas-left">
    <aside ng-class="{'collapse-left':toggleSidebar}" ng-controller="SidebarCtrl" ng-include src="'common/partials/sidebar/sidebar.view.html'" class="left-side sidebar-offcanvas">
    </aside>
    <aside class="right-side" ng-class="{'stretch':toggleSidebar}">
        <section class="content-header">
            <h1>
                Ennemy Pick
                <!-- <small>Control panel</small> -->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Ennemy Pick
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                	<div class="box">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-th"></i> Select your opponent</h3>
                            <div class="box-tools pull-right">
                            	<input type="text" class="form-default" placeholder="Search..." ng-model="filterChamp.$" />
                            </div>
<!--                             <div class="box-tools pull-left" style="padding-left: 100px">
                            	<select class="form-control" ng-model="ennemyLane">
                            		<option value="">All</option>
            		                <option value="top">Top</option>
            		                <option value="mid">Middle</option>
            		                <option value="bot">Bottom</option>
            		                <option value="jungle">Jungle</option>
            		            </select>
            		        </div> -->
                        </div>
                        <div class="box-body">
                        	<div class="row">
                                <div class="col-xs-12">
                            		<div class="row list">
                                        <div ng-repeat="championItem in championList | filter: filterChamp |  orderBy: 'value.name' " class="col-xs-4 col-sm-2">
                							<a class="thumbnail" href="#/suggestPick/{{championItem.key}}">
            									<img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{championItem.key}}.png" alt="">
            									<p class="text-center">{{championItem.value.name}}</p>
            								</a>
                                        </div>
                                    </div>
                                </div>
            				</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
