<header ng-controller="TopbarCtrl" ng-include src="'common/partials/topbar/topbar.view.html'" class="header"></header>
<div ng-class="{'relative active':toggleSidebar}" class="wrapper row-offcanvas row-offcanvas-left">
    <aside ng-class="{'collapse-left':toggleSidebar}" ng-controller="SidebarCtrl" ng-include src="'common/partials/sidebar/sidebar.view.html'" class="left-side sidebar-offcanvas">
    </aside>
    <aside class="right-side" ng-class="{'stretch':toggleSidebar}">
        <section class="content-header">
            <h1>
                <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Return" tooltip="Select other ennemy pick" tooltip-placement="bottom">< Return</button>
                Suggest Pick
                <small>Counter of {{nameChampSelected}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#/ennemyPick">
                        Ennemy Pick
                    </a>
                </li>                
                <li>
                    <a href="#/suggestPick/{{nameChampSelected}}">
                        Suggest Pick
                    </a>
                </li> 
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-th"></i> Selection of good pick against {{nameChampSelected}} </h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="thumbnail">
                                        <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{nameChampSelected}}.png" alt="">
                                        <p>{{nameChampSelected}}</p>
                                    </a>
                                </div>
                            </div>


                            <div class="row">
                                <div ng-repeat="counterItem in allCounterList | orderBy: 'value.difficulty' " class="col-xs-12 row suggestPickCounterItem">
                                    <a class="thumbnail suggestPickThumbnail" href="#/duelAdvice/{{nameChampSelected}}/{{counterItem.value.champion}}" > 
                                        <div class="col-md-3">
                                            <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{counterItem.value.champion}}.png" alt="">
                                            <p>{{counterItem.value.champion}}</p>
                                            <rating ng-model="counterItem.key[1]" max="5" readonly="true" state-on="'baron-on'" state-off="'baron-off'"></rating>

                                            <span class="label" ng-if="counterItem.key[1]==1" ng-class="{'label-success': counterItem.key[1]==1}" ng-show="counterItem.key[1]">Very easy</span>

                                            <span class="label" ng-if="counterItem.key[1]==2" ng-class="{'label-success': counterItem.key[1]==2}" ng-show="counterItem.key[1]">Easy</span>

                                            <span class="label" ng-if="counterItem.key[1]==3" ng-class="{'label-info': counterItem.key[1]==3}" ng-show="counterItem.key[1]">Balanced</span>

                                            <span class="label" ng-if="counterItem.key[1]==4" ng-class="{'label-warning' : counterItem.key[1]==4}" ng-show="counterItem.key[1]">Hard</span>

                                            <span class="label" ng-if="counterItem.key[1]==5" ng-class="{'label-warning' : counterItem.key[1]==5}" ng-show="counterItem.key[1]">Very Hard</span>

                                        </div>
                                        <div class="col-md-3">
                                            <p>{{counterItem.value.tips}}</p>
                                            <p>{{counterItem.value.tips2}}</p>
                                            <p>{{counterItem.value.tips3}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <div ng-repeat="summonerFavoriteChampItem in summonerFavoriteChampList.champions">
                                                <div ng-if="counterItem.value.championId === summonerFavoriteChampItem.id">
                                                   <p>{{summonerFavoriteChampItem.stats.totalSessionsPlayed}} played / {{ (summonerFavoriteChampItem.stats.totalSessionsWon*100)/(summonerFavoriteChampItem.stats.totalSessionsWon+summonerFavoriteChampItem.stats.totalSessionsLost) | number:2 }} %</p>

                                                    <p>KDA : {{(summonerFavoriteChampItem.stats.totalChampionKills+summonerFavoriteChampItem.stats.totalAssists)/summonerFavoriteChampItem.stats.totalDeathsPerSession | number:2}} ( {{(summonerFavoriteChampItem.stats.totalChampionKills/summonerFavoriteChampItem.stats.totalSessionsPlayed) | number:2}} /
                                                    {{(summonerFavoriteChampItem.stats.totalDeathsPerSession/summonerFavoriteChampItem.stats.totalSessionsPlayed) | number:2}} /
                                                    {{(summonerFavoriteChampItem.stats.totalAssists/summonerFavoriteChampItem.stats.totalSessionsPlayed) | number:0}} )</p>
                                                </div>
<!--                                                 <div ng-if="counterItem.value.championId === summonerFavoriteChampItem.id">
                                                   <p style="color:red;"> Never played in ranked match during s6</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="assets/img/summoners/{{counterItem.value.summonerSpell[0]}}.png" alt="Summoner1" />
                                            <img src="assets/img/summoners/{{counterItem.value.summonerSpell[1]}}.png" alt="Summoner2" />
                                        </div>
                                    </a>                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>