<div class="home">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="text-align:center;">
			<img src="assets/img/baron.png" alt="" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="col-xs-12 col-sm-8">
				<div class="form-group">
                	<input type="text" class="form-control" placeholder="Enter summoner name..." ng-model="summoner.summonerName" />
            	</div>
            </div>
            <div class="col-xs-9 col-sm-3">
            	<div class="form-group">
		            <select class="form-control" ng-model="summoner.country" ng-init="summoner.country = 'EUW'">
		                <option value="BR">Brazil</option>
		                <option value="EUNE">EU Nordic & East</option>
		                <option value="EUW">EU West</option>
		                <option value="KR">Korea</option>
		                <option value="LAN">Latin America North</option>
		                <option value="LAS">Latin America South</option>
		                <option value="NA">North America</option>
		                <option value="OCE">Oceania</option>
		                <option value="RU">Russia</option>
		                <option value="TR">Turkey</option>
		            </select>
		        </div>
		    </div>
		    <div class="col-xs-3 col-sm-1">
	            <div class="form-group">
			    	<button type="button" class="btn btn-default" ng-click="validSummoner(summoner)">OK</button>
			    </div>
            </div>
		</div>
	</div>
	<div class="row" ng-if="errorMessage!=null"> {{errorMessage}}</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<p class="utils">
				<a href="#">About us</a>
				<a href="#">Apilol</a>
				<a href="#">Loleurope</a>
				<a href="#">Other partner</a>
			</p>
		</div>
	</div>
</div>